body {color:#0C13D5 ; background-color:#DCABE2}   
h1 {color:#0AF780; background-color:#C00AF7}
main {background-color:#F0EEBB; color:blue}
footer {color:#F70A21}
.feature1 {background-color:#0AF729; color:#040303; }
#vikesid {background-color:#6FA6D0; color:#F70425}
h2 {color: chocolate}